body{
    background:#f4f6f9;
    font-family: Arial;
}

.container{
    width:400px;
    margin:50px auto;
    background:cyan;
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

h2{
    text-align:center;
}

.input-box{
    display:flex;
    gap:5px;
    margin-bottom:15px;
}

input{
    flex:1;
    padding:8px;
}

button{
    padding:8px 12px;
    background:#4CAF50;
    color:white;
    border:none;
    cursor:pointer;
}

li{
    list-style:none;
    background:#eef;
    margin:5px 0;
    padding:8px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    border-radius:5px;
}

.completed{
    text-decoration: line-through;
    color:gray;
}
